.content-area{
    background: url("/img/socialMediaCard__bg-img-min.jpg");
    background-size: cover;
    background-position: center;
}

.card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}